# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env

# Coverage / testing
coverage/
*.lcov

# OS-specific
.DS_Store
Thumbs.db

# Build / cache
dist/
build/
.cache/
.tmp/

# IDE files
.vscode/
.idea/
*.swp

# Docker
docker-compose.override.yml
